<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${title}]] - Buchl</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../static/css/book.css" th:href="@{/css/book.css}">
</head>
<body>
<script type="application/javascript" src="/js/book.js" th:src="@{/js/book.js}"></script>
<div th:replace="fragments/header.html :: header"></div>
<div th:replace="fragments/header.html :: skipNavigation(id='#main')"></div>
<div th:replace="fragments/header.html :: navigation(activeLink='books')"></div>
<main id="main">
    <aside th:fragment="asideBookInfo" role="region" aria-label="Nebensächliche Buchinformationen">
        <img loading="lazy"
             th:src="${book.imageLink == null} ? @{/imgs/image-preview.png} : @{/imgs/} + ${book.imageLink}"
             alt="" th:alt="${book.imageAlt == null} ? ${book.title} : ${book.imageAlt}">
        <div class="book-side">
            <div class="book-tags">
                <a th:each="tag: ${book.tags}" th:href="'/tag/' + ${tag.id}"
                   th:text="${tag.parent.name == 'Lesealter'} ? 'Lesealter ' + ${tag.name} : ${tag.name}"></a>
            </div>
            <div class="book-info">
                <p>Seitenanzahl der Print-Ausgabe: [[${book.pages}]]</p>
                <p>Sprache: [[${book.language.name}]]</p>
                <p>Erscheinungsdatum: <span th:text="${#temporals.format(book.releaseDate, 'dd. MMMM yyyy')}"></span></p>
            </div>

        </div>
    </aside>
    <section role="region" aria-label="Buchinformationen">
        <h1 th:fragment="bookTitle" class="is-size-4 is-size-3-desktop"
            th:text="${book.title} + ' - ' + ${#temporals.format(book.releaseDate, 'yyyy')}"></h1>
        <div class="author-info"  th:fragment="authorInfo">
            <img th:src="${book.author.imageLink == null} ? @{/imgs/user.png} : '/imgs/' + ${book.author.imageLink}"
                 th:alt="${book.author.imageAlt == null} ? '' : ${book.author.imageAlt}">
            <a th:href="'/books?author=' + ${book.author.id}"
               th:text="${book.author.firstName} + ' ' + ${book.author.lastName}"></a>
        </div>
        <div class="book-content">
            <div class="book-rating-and-favourite" th:fragment="bookRatingAndFavourite">
                <a th:href="'/book/' + ${book.id} + '/reviews'" class="rating">
                    <span th:if="${book.averageRating != null}" th:text="${book.averageRating}"></span>
                    <img th:if="${book.averageRating != null}"
                         th:src="'/imgs/SVG/rating-' + ${#numbers.formatDecimal(book.averageRating, 0, 0)} + '.svg'"
                        th:alt="${#numbers.formatDecimal(book.averageRating, 0, 0)} + ' von 5 Sternen'">
                    <span th:if="${book.averageRating == null}">Keine Bewertungen</span>
                </a>
                <div class="favourite">
                    <button id="favouriteButton" class="button is-ghost">Als Favorit hinzufügen</button>
                    <img th:src="@{/imgs/SVG/heart.svg}" alt="" src="/imgs/SVG/heart.svg">
                </div>
            </div>
            <p th:utext="${book.description}"></p>
            <div class="discussions-wrapper">
                <h2 class="is-size-4">Diskussionen zum Buch</h2>
                <div class="discussions">
                    <p th:if="${#arrays.length(book.discussions) <= 0}">Keine Diskussionen vorhanden</p>
                    <article th:each="discussion: ${book.discussions}">
                        <a th:href="'/discussion/' + ${discussion.id}">
                            <div class="user-and-content">
                                <div class="user">
                                    <img th:src="${discussion.user.image == null} ? @{/imgs/user.png} : ${discussion.user.image}"
                                         alt="">
                                    <span class="is-size-4-mobile is-size-6" th:text="${discussion.user.nickname}"></span>
                                </div>
                                <div class="article-content">
                                    <h3 class="is-size-5-mobile is-size-6-tablet is-size-4" th:text="${discussion.title}"></h3>
                                    <span th:text="${#arrays.length(discussion.comments)} + ' Antworten'"></span>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>