<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${title}]] - Buchl</title>
    <link rel="stylesheet" href="../static/css/bulma.css" th:href="@{/css/bulma.css}">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../static/css/favourites.css" th:href="@{/css/favourites.css}">
</head>
<body>
<script type="application/javascript" src="/js/favourites.js"></script>
<div th:replace="fragments/header.html :: header"></div>
<div th:replace="fragments/header.html :: skipNavigation(id='#main')"></div>
<div th:replace="fragments/header.html :: navigation(activeLink='favourites')"></div>
<main id="main" aria-busy="true">
    <h1>Deine Favoriten</h1>
    <div class="loader" id="loadingCircle" aria-label="Lade Ergebnisse"></div>
    <section id="allFavourites"></section>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>