* {
    box-sizing: border-box;
}

header {
    background-image: url("../imgs/header-background.jpg");
    background-position: center;
}

#title {
    font-size: 6em;
    font-weight: bold;
    color: #f9f9f9;
    -webkit-text-stroke: 3px #262626;
}

#main-nav {
    text-align: center;
    margin: 1.5rem 6% 0 6%;
}

#main-nav > ul  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #485fc7;
    padding: 10px 20px 10px 20px;
}

#main-nav > ul > li {
    position: relative;
}

#main-nav > ul > li > ul {
    z-index: 10;
    position: absolute;
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px -2px rgba(82,82,82,1);
    border-radius: 5px;
    padding: 0.5em;
    bottom: 0;
    transform: translateY(100%);
}

#main-nav > ul > li > ul a {
    min-width: 11em;
    text-align: left;
    padding: 1em;
}

#main-nav > ul a {
    display: inline-block;
}

a:focus {
    border: 2px dashed #485fc7;
    outline: none;
}

#main-nav a.active, #main-nav button.active {
    font-weight: bold;
}

#main-nav button::after {
    content: '';
    background-image: url("../imgs/leftArrow.svg");
    width: 18px;
    height: 18px;
    background-size: contain;
    position: absolute;
    right: 6px;
    transform: rotate(0);
    transition: transform linear 100ms;
}

#main-nav button {
    position: relative;
    padding-right: 30px !important;
}

#main-nav button[aria-expanded=true]::after {
    transform: rotate(-90deg);
}

.visually-hidden {
    position: absolute;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#title {
    text-transform: uppercase;
}

/*#main-nav ul.is-hidden {
    display: block !important;
    position: static;
}*/

@media all and (min-width: 500px) {
    #main-nav {
        margin: 1.5rem auto 0 auto;
        max-width: 1100px;
    }

    #main-nav > ul {
        flex-wrap: wrap;
        flex-direction: row;
    }

/*    #main-nav ul.is-hidden {
        display: none !important;
        position: absolute;
    }*/
}

